@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-serif: var(--font-serif);
        --font-accent: var(--font-accent);
        --font-mono: var(--font-mono);

        /* Light theme variables */
        --color-chBgPrimary: rgb(251, 251, 251);
        --color-chBgSecondary: rgb(255, 255, 255);

        --color-chBorder: rgb(206, 207, 210);

        --color-chTextPrimary: rgb(17 24 39);
        --color-chTextSecondary: rgb(107 114 128);

        --color-chTextPrimaryInverted: rgb(255, 255, 255);
        --color-chTextSecondaryInverted: rgb(209, 213, 219);

        --color-ctaPrimary: rgb(162 36 102);
        --color-ctaSecondary: rgb(223, 90, 139);
    }

    .dark {
        /* Dark theme variables */
        --color-chBgPrimary: rgb(0, 0, 0);
        --color-chBgSecondary: rgb(14, 14, 14);

        --color-chBorder: rgb(34, 34, 34);

        --color-chTextPrimary: rgb(255, 255, 255);
        --color-chTextSecondary: rgb(209, 213, 219);

        --color-chTextPrimaryInverted: rgb(0, 0, 0);
        --color-chTextSecondaryInverted: rgb(57, 57, 57);
    }
}

body {
    background-color: var(--color-pageBg);
    color: var(--color-pageFg);
    font-family: var(--font-mono);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    70% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.animate-bounce-in {
    animation: bounceIn 0.5s ease-out forwards;
}
